<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p][%logger{0}][%t][%F]%M\(%L\) : %m%n
      </pattern>
    </layout>
  </appender>

  <logger level="INFO" appender-ref="console" name="io.r2dbc.h2.client.SessionClient" />
  <logger level="INFO" appender-ref="console" name="reactor.pool.SimpleDequePool" />
  <logger level="ERROR" appender-ref="console" name="org.springframework.web.reactive.result.method.annotation.ResponseBodyResultHandler" />
  <logger level="ERROR" appender-ref="console" name="org.springframework.http.codec.json.Jackson2JsonEncoder" />


  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>